* {
    box-sizing: border-box;
}
#attack {
    margin-left: 20px;

}
#btnReset {
    margin-left: 20px;
    margin-top: 20px;
}


.body {

    background-image: url("../images/background1.jpg");
    height: fit-content;
    width: fit-content;

}
.container {

    width: fit-content;
}


.starWars {
    color: white;
    text-align: right; 
}
.space {
    margin-bottom: 100px;
}

#h4-1,
#h4-2,
#h4-3, 
#h4-4,
#h4-5  {
    color: ghostwhite;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {

    color: black;
    font-size: 30px;
    font-display: bold;

}


    #labelchar1-2,
    #labelchar2-2, 
    #labelchar3-2, 
    #labelchar4-2 {
        /* background-color: white; */
        color: black;
        font-style: bold;
        position: relative;
        top: 54px;
        text-align: center;
        font-size: 9px;
        padding: 0px;

    } 

    #labelchar5-2,
    #labelchar6-2, 
    #labelchar7-2, 
    #labelchar8-2 {
        background-color: red;
        color: white;
        font-style: bold;
        position: relative;
        top: 54px;
        text-align: center;
        font-size: 9px;
        padding: 0px;

    } 

    #labelchar9-2,
    #labelchar10-2, 
    #labelchar11-2, 
    #labelchar12-2 {
        background-color: black;
        color: white;
        font-style: bold;
        position: relative;
        top: 54px;
        text-align: center;
        font-size: 9px;
        padding: 0px;

    }


    .labelchar1, 
    .labelchar2, 
    .labelchar3, 
    .labelchar4  {

        background-color: white;
        color: black;
        font-style: bold;
        position: relative;
        top: -15px;
        text-align: center;
        font-size: 10px;
        padding: 0px;

    }

    .labelchar5, 
    .labelchar6, 
    .labelchar7, 
    .labelchar8  {

        background-color: red;
        color: white;
        font-style: bold;
        position: relative;
        top: -15px;
        text-align: center;
        font-size: 10px;
        padding: 0px;

    }

    .labelchar9, 
    .labelchar10, 
    .labelchar11, 
    .labelchar12  {

        background-color: black;
        color: white;
        font-style: bold;
        position: relative;
        top: -15px;
        text-align: center;
        font-size: 10px;
        padding: 0px;

    }
    .img5,
    .img6, 
    .img7, 
    .img8 {
        width: 120px;
        height: 100px;
        margin-right: 20px;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding:1px;
        border:15px; 
        border-style: solid;
        border-color: red;
    }
    .img9, 
    .img10, 
    .img11, 
    .img12 {
        width: 120px;
        height: 100px;
        margin-right: 20px;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding:1px;
        border:15px; 
        border-style: solid;
        border-color: black;
    }
    
    

    .img1,
    .img2,
    .img3,
    .img4 {
    width: 120px;
    height: 100px;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:1px;
    border:15px; 
    border-style: solid;
    border-color: white;
}


.img1 {
          
    background-image: url("../images/JabbaTheHut.jpeg");
}

.img2 {
    
    background-image: url("../images/stormtrooper.jpeg");
    
}
.img3 {

    background-image: url("../images/Chewbacca.jpeg");

}
.img4 {

    background-image: url("../images/images.jpeg");
    

}

.img5 {
          
    background-image: url("../images/JabbaTheHut.jpeg");
}

.img6 {
    
    background-image: url("../images/stormtrooper.jpeg");
    
}
.img7 {

    background-image: url("../images/Chewbacca.jpeg");

}
.img8 {

    background-image: url("../images/images.jpeg");
    

}
.img9 {
          
    background-image: url("../images/JabbaTheHut.jpeg");
}

.img10 {
    
    background-image: url("../images/stormtrooper.jpeg");
    
}
.img11 {

    background-image: url("../images/Chewbacca.jpeg");

}
.img12 {

    background-image: url("../images/images.jpeg");
    

}